<table>
  <tr>
    <th>Nazwa</th>
    <th>Opis</th>
  </tr>
 
  <% @projects.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td><%= project.description %></td>
      <td><%= link_to 'Show', project_path(project) %></td>
    </tr>
  <% end %>
  
  
  
</table>

<%= link_to 'New project', new_project_path %>